{% extends 'base.html' %}

{% block content %}
<h1>Products</h1>
<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
  <div class="toast-header">
    <img src="..." class="rounded mr-2" alt="...">
    <strong class="mr-auto">Bootstrap</strong>
    <small>11 mins ago</small>
    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="toast-body">
    Successfully added to cart
  </div>
</div>
{% for product in products %}

<div class="card" style="width: 18rem;">
  {% if product.product_image %}
  <img class="card-img-top" src="{{product.product_image.url}}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{product.product_name}}</h5>
    <p class="card-text">{{product.product_description}}</p>
    <p class="card-text">{{product.product_price}}</p>

    <p name="product" id="product_{{product.id}}">{{product.id}}</p>
    <p name="user" id="user">{{user.id}}</p>

    <a href="/product/{{product.id}}" class="btn btn-primary">Edit</a>
    <a href="/product_delete/{{product.id}}" class="btn btn-danger">Delete</a>
    <a class="btn btn-primary" onclick="addtocart('{{product.id}}')">Add to cart</a>

    <div class="mb-3">
      <label for="quantity" class="form-label">Quantity</label>
      <input type="number" class="form-control" id="quantity" name="quantity" aria-describedby="quantity" value="1">
    </div>

  </div>
</div>

{% endfor %}
</div>
<script>

  function addtocart(product_id) {
    user = document.getElementById('user').textContent
    product_id = `product_${product_id}`
    product = document.getElementById(product_id).textContent
    quantity = document.getElementById('quantity').value

    $.ajax({
      type: "POST", //GET or POST or PUT or DELETE verb 
      url: "http://127.0.0.1:8000/add_to_cart/", // Location of the service 
      data: JSON.stringify({
        'user': user,
        'product': product,
        'quantity': quantity
      }), //Data sent to server
      contentType: "application/json", // content type sent to server 
      dataType: "json", //Expected data format from server 
      processdata: true,  //True or False 

      success: function (res) {

        var result = res['message'];
        // alert("result===" + result);
        $('.toast').toast('show')
        // $("#dvAjax").html(result);
      },
      error:  function (res) {
        console.log(res['message'])
        var result = res['message'];
        alert("result===" + result);
      }
    });
  }
</script>
{% endblock %}